.CardWithImage {
	overflow: hidden;

	&__header {
		overflow: hidden;

		img {
			width: 100%;
			position: relative;
			transition: all 0.3s ease-in-out;
		}
	}

	&__body {
		background-color: white !important;
		padding: 18px 16px;

		h1 {
			color: $siteColor_4;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 12px;
		}

		.content {
			line-height: 1.8;
		}
	}

	@media only screen and (min-width: 768px) {
		border-radius: 24px;

		&__body {
			padding: 18px 30px;
		}
	}
}
