.TransformedSwiper {
	img {
		border-radius: $radiusSmall;
	}
}

.FiveColSwiper {
	padding-bottom: 50px;
	margin-bottom: -50px;

	.swiper-slide {
		transition: transform 0.3s ease-in-out !important;
	}
	.swiper-slide-active {
		@media only screen and (min-width: 768px) {
			transform: scale(1.13) !important;
			transform-origin: center !important;
		}
	}

	img {
		border-radius: $radiusSmall;
	}

	&__next-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		font-size: 40px;
	}
	&__prev-btn {
		transform: translateY(-50%);
		position: absolute;
		top: 50%;
		left: 0;
		font-size: 40px;
	}

	@media only screen and (min-width: 768px) {
		padding-top: 50px;
	}
}

.HeroSwiper {
	padding-bottom: 30px;

	.swiper-pagination {
		bottom: 0px !important;
	}
	.swiper-pagination-bullet-active {
		@apply bg-site-3;
	}
}
