.TransformedSwiper {
	img {
		min-height: 300px;
		width: 200px;
		object-fit: cover;
		border-radius: $radiusSmall;
	}
}

.FiveColSwiper {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: -50px;

	.swiper-slide {
		transition: transform 0.3s ease-in-out !important;
	}
	.swiper-slide-active {
		transform: scale(1.13) !important;
		transform-origin: bottom !important;
	}

	img {
		min-height: 300px;
		object-fit: cover;
		border-radius: $radiusSmall;
	}

	&__next-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		font-size: 40px;
	}
	&__prev-btn {
		transform: translateY(-50%);
		position: absolute;
		top: 50%;
		left: 0;
		font-size: 40px;
	}
}
