$siteColor_1: #e3d5ec;
$siteColor_2: #bc9acc;
$siteColor_3: #9467a8;
$siteColor_4: #680b65;
$siteColor_5: #f8f3f9;
$siteColor_6: #c8acd5;
$siteColor_7: #d5bddf;
$siteColor_8: #ac86bf;
$siteColor_9: #ad7db7;
$siteColor_10: #d3e6ea;
$siteColor_11: #028d9a;
$siteColor_12: #ebe0ce;
$siteColor_13: #353849;
$siteColor_14: #515763;
$siteColor_15: #3a3939;
$siteColor_16: #92def7;
$siteColor_17: #f1eee7;

$radiusBig: 24px;
$radiusSmall: 16px;
