$siteColor_1: #e3d5ec;
$siteColor_2: #bc9acc;
$siteColor_3: #9467a8;
$siteColor_4: #680b65;
$siteColor_5: #f8f3f9;
$siteColor_6: #c8acd5;
$siteColor_7: #d5bddf;

$radiusBig: 24px;
$radiusSmall: 16px;
