$siteColor_1: #e3d5ec;
$siteColor_2: #bc9acc;
$siteColor_3: #9467a8;
$siteColor_4: #680b65;
$siteColor_5: #f8f3f9;
$siteColor_6: #c8acd5;
$siteColor_7: #d5bddf;
$siteColor_8: #ac86bf;
$siteColor_9: #ad7db7;
$siteColor_10: #d3e6ea;
$siteColor_11: #028d9a;
$siteColor_12: #ebe0ce;
$siteColor_13: #353849;
$siteColor_14: #515763;
$siteColor_15: #3a3939;
$siteColor_16: #92def7;
$siteColor_17: #f1eee7;
$siteColor_18: #f85799;

$radiusBig: 24px;
$radiusSmall: 16px;

:root {
	--toastify-color-light: #fff;
	--toastify-color-dark: #121212;
	--toastify-color-info: #3498db;
	--toastify-color-success: #67aa69;
	--toastify-color-warning: #f1c40f;
	--toastify-color-error: #e74c3c;
	--toastify-color-transparent: rgba(255, 255, 255, 0.7);
	--toastify-icon-color-info: var(--toastify-color-info);
	--toastify-icon-color-success: var(--toastify-color-success);
	--toastify-icon-color-warning: var(--toastify-color-warning);
	--toastify-icon-color-error: var(--toastify-color-error);
	--toastify-toast-width: 320px;
	--toastify-toast-background: #fff;
	--toastify-toast-min-height: 64px;
	--toastify-toast-max-height: 800px;
	--toastify-font-family: sans-serif;
	--toastify-z-index: 9999;
	--toastify-text-color-light: #757575;
	--toastify-text-color-dark: #fff;
	--toastify-text-color-info: #fff;
	--toastify-text-color-success: #fff;
	--toastify-text-color-warning: #fff;
	--toastify-text-color-error: #fff;
	--toastify-spinner-color: #616161;
	--toastify-spinner-color-empty-area: #e0e0e0;
	--toastify-color-progress-light: linear-gradient(
		to right,
		#4cd964,
		#5ac8fa,
		#007aff,
		#34aadc,
		#5856d6,
		#ff2d55
	);
	--toastify-color-progress-dark: #bb86fc;
	--toastify-color-progress-info: var(--toastify-color-info);
	--toastify-color-progress-success: #6fb571;
	--toastify-color-progress-warning: var(--toastify-color-warning);
	--toastify-color-progress-error: var(--toastify-color-error);
}
