@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@media only screen and (min-width: 768px) {
		}
	}
	.btn-light {
		// box-shadow: 1px 3px 8px 0px rgb(142 94 165);
		@apply bg-white text-site-4;
	}
	.btn-dark {
		// box-shadow: 1px 3px 8px 0px rgb(142 94 165);
		@apply bg-site-4 text-white;
	}
	.btn-cian {
		// box-shadow: 1px 3px 8px 0px #27a7b3;
		@apply bg-site-5 text-site-11;
	}
	.btn-gray {
		// box-shadow: 1px 3px 8px 0px #252626;
		background-color: #cccdd2;
		@apply text-gray-900;
	}
	.btn-magenta {
		// box-shadow: 1px 3px 8px 0px #252626;
		@apply bg-site-18 text-white;
	}
	.btn-gray-2 {
		// box-shadow: 1px 3px 8px 0px #252626;
		// background-color: #a6a6a6;
		@apply text-white bg-site-21;
	}

	.h3 {
		@apply mb-4 text-site-4 uppercase font-extrabold tracking-wide italic text-xl font-montserrat;

		@media only screen and (min-width: 576px) {
			@apply text-xl;
		}
		@media only screen and (min-width: 768px) {
			@apply text-xl;
		}
		@media only screen and (min-width: 992px) {
			@apply text-2xl;
		}
	}

	.p-quote {
		@apply font-montserrat text-lg md:text-xl italic;

		&--white {
			@apply text-white;
			text-shadow: 2px 2px #9467a8;
		}

		&--purple {
			color: #680b65;
			text-shadow: 2px 2px white;
		}
	}

	.h1-shadow {
		@apply uppercase font-extrabold italic text-xl font-montserrat;

		@media only screen and (min-width: 576px) {
			@apply text-2xl;
		}
		@media only screen and (min-width: 768px) {
			@apply text-3xl;
		}
		@media only screen and (min-width: 992px) {
			font-size: 32px;
		}

		&--white {
			@apply text-white;
			text-shadow: 2px 2px #9467a8;
		}

		&--white-2 {
			@apply text-white;
			text-shadow: 2px 2px #000;
		}

		&--purple {
			color: #680b65;
			text-shadow: 2px 2px white;
		}

		&--cian {
			color: #028d9a;
			text-shadow: 2px 2px white;
		}

		&--gray {
			color: #353849;
			text-shadow: 2px 2px white;
		}

		&--blue {
			color: #015287;
			text-shadow: 2px 2px #b4d1e3;
		}
	}

	.bg-white-linear {
		background: linear-gradient(0deg, #e3d5ec 0%, #e3d5ec 50%, white 100%);
	}
	.bg-purple-linear {
		background: linear-gradient(0deg, #bc9acc 0%, #b391c3 50%, #9772a9 100%);
	}
	.bg-cian-linear {
		background: linear-gradient(0deg, #d3e6ea 0%, #e8f4f7 50%, #ffffff 100%);
	}

	.bg-glow-purple {
		box-shadow: 0px 0px 49px 0px #8e5ea5ba;
	}
}
