@import './includes/variables';
@import './includes/transforms';
@import './includes/swiper';
@import './includes/parallax';
@import './includes/sections';
@import './includes/class-filter';
@import './includes/cards';

body {
	letter-spacing: 1px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.white-textarea {
	min-height: 150px;
	background-color: transparent;
	color: #d9dbe1;
	outline: none;
	font-size: 18px;
	border: 1px solid #818897;
	width: 100%;
	padding: 10px;
	border-radius: 6px;

	&::placeholder {
		color: #d9dbe1;
		font-size: 18px;
	}
}
.white-input {
	border: none;
	background-color: transparent;
	outline: none;
	border-bottom: 1px solid #818897;
	color: #d9dbe1;
	padding: 5px 0px;
	font-size: 18px;
	width: 100%;

	&::placeholder {
		color: #d9dbe1;
	}
}

.FormWithMap {
	&__map-img {
	}
}

.page {
	padding-top: 20px;
	// padding-bottom: 20px;
}

.TriangleDivider {
	width: 100%;
	clip-path: polygon(0 87%, 50% 0, 100% 87%, 100% 100%, 50% 0.5%, 0 100%);
	height: 80px;

	&--parallax {
		margin-top: -75px !important;

		@media only screen and (min-width: 576px) {
			margin-top: -155px !important;
		}
	}

	@media only screen and (min-width: 576px) {
		height: 160px;
	}
}

.TriangleDividerNextItem {
	width: 100%;
	margin-top: -80px;
	// margin-bottom: -1px;
	height: 80px;
	clip-path: polygon(0 100%, 50% 0, 100% 100%, 100% 100%, 50% 100%, 0 100%);

	@media only screen and (min-width: 576px) {
		height: 160px;
		margin-top: -160px;
	}
}

.custom-scrollbar {
	/* width */
	&::-webkit-scrollbar {
		width: 2px;
		height: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: $siteColor_2;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $siteColor_3;
		border-radius: 3px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $siteColor_4;
	}
}

.site-footer {
	background-image: url('../../public//images//pattern-footer.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.SalesAndEvents {
	&__masonry-grid {
		display: flex;
		margin-left: -30px;
		width: auto;
	}
	&__masonry-grid_column {
		padding-left: 30px;
		background-clip: padding-box;

		> div {
			margin-bottom: 30px;
		}
	}
}

.Prices {
	.price-row {
		display: flex;
		align-items: center;
		gap: 20px;

		.title {
			flex-basis: 40%;
			font-size: 22px;
			font-weight: 600;
		}

		.desc {
			flex-basis: 30%;
			text-align: center;
		}

		.price {
			flex-basis: 30%;
		}
	}
}
