@import './includes/variables';
@import './includes/transforms';
@import './includes/swiper';
@import './includes/parallax';
@import './includes/sections';
@import './includes/class-filter';
@import './includes/cards';

body {
	letter-spacing: 1px;
	width: 100%;
	overflow-x: hidden;
	max-width: 100vw;
	@apply bg-site-17;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

* {
	&:focus {
		outline: none;
	}
}

.white-textarea {
	@apply w-full rounded px-2 py-3 focus-visible:outline focus-visible:outline-site-5;

	&::placeholder {
		color: #c1c1c2;
	}
}
.white-input {
	@apply w-full rounded px-2 py-3 focus-visible:outline focus-visible:outline-site-5;

	&::placeholder {
		color: #c1c1c2;
	}
}

.FormWithMap {
	.gmap-wrapper {
		height: 100%;
		padding: 20px 0;

		.gmap {
			height: 300px;
			box-shadow: 5px 7px 32px -3px #151515bf;

			@media only screen and (min-width: 768px) {
				height: 100%;
				transform: rotate(356deg) translateY(-21px) scale(1.08);
			}
		}
	}

	&__map-img {
		// transform: rotate(355deg) translateY(-21px) scale(1.05);
	}
}

.page {
	padding-top: 20px;
	// padding-bottom: 20px;
}

.cookie-link {
	color: purple;
}

.TriangleDivider {
	width: 100%;
	clip-path: polygon(0 87%, 50% 0, 100% 87%, 100% 100%, 50% 0.5%, 0 100%);
	height: 40px;

	&--parallax {
		margin-top: -37px !important;

		@media only screen and (min-width: 576px) {
			margin-top: -155px !important;
		}
	}

	@media only screen and (min-width: 576px) {
		height: 160px;
	}
}

.TriangleDividerNextItem {
	width: 100%;
	margin-top: -40px;
	margin-bottom: -2px;
	height: 40px;
	clip-path: polygon(0 100%, 50% 0, 100% 100%, 100% 100%, 50% 100%, 0 100%);

	@media only screen and (min-width: 576px) {
		height: 160px;
		margin-top: -160px;
	}
}

* {
	/* width */
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: $siteColor_7;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $siteColor_8;
		border-radius: 16px;
		border: 1px solid $siteColor_2;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $siteColor_3;
	}
}

.custom-scrollbar--light {
	/* width */
	&::-webkit-scrollbar {
		width: 3px;
		height: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: $siteColor_2;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $siteColor_6;
		border-radius: 3px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $siteColor_7;
	}
}

.site-footer {
	background-image: url('../../public//images//pattern-footer.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.SalesAndEvents {
	&__masonry-grid {
		display: flex;
		margin-left: -30px;
		width: auto;
	}
	&__masonry-grid_column {
		padding-left: 30px;
		background-clip: padding-box;

		> div {
			margin-bottom: 30px;
		}
	}
}

.Prices {
	.price-row {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.title {
			// flex-basis: 40%;
			font-size: 22px;
			font-weight: 600;
		}

		.price {
			// flex-basis: 60%;
			text-align: right;
		}

		@media only screen and (min-width: 768px) {
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
			gap: 20px;
		}
	}
}

.nav-user {
	&__image {
		img {
			max-width: 38px;
			border-radius: 100%;
			cursor: pointer;

			@media only screen and (min-width: 768px) {
				max-width: 56px;
			}
		}
	}
}

.data-table {
	tbody {
		tr {
			&:not(:last-of-type) {
				border-bottom: 1px solid $siteColor_6;
			}
		}
	}
}

.custom-datepicker {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	margin-top: 5px;
}

.min-w-custom-1 {
	min-width: 230px;
}

@media only screen and (max-width: 768px) {
	.career-image {
		scale: 1;
		transform: scale(1) !important;
	}
}
